
.navbar {
  padding: 10px 20px;
}

.navbar-nav a {
  margin-right: 25px;
}

.main-section {
  margin-top: 20px;
  text-align: center;
  width: 30%;
  margin: auto;
}

.user-img {
	text-align: center;
}

.user-img img {
  width: 40%;
  height: auto;
   
}

.alert {
	width: 30%;
	margin: auto;
	text-align: center;
}